.page {
  min-height: 100svh;
  padding: 20px 40px;
}

.main {
  display: flex;
  flex-direction: column;
}

.dashboard_main {
  display: flex;
}

.mobile_page {
  min-height: 100svh;
  padding: 20px 10px;
}

